.product-nav {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  padding: 1rem 3rem;
}

.product-nav .btn-dark:hover {
  transform: none;
}

.search-btn,
.dialog-filter-btn {
  padding: 3px;
}

.dialog-filter-btn {
  display: none;
}

.search-input {
  padding: 0.4rem;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid white;
  border-radius: 3px;
  color: white;
  min-width: 250px;
}

.search-input:focus {
  outline: none;
  border: 1px solid var(--accent);
}
.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

@media (max-width: 600px) {
  .filters {
    display: none;
  }

  .search-box,
  .search-input {
    width: 100%;
  }

  .dialog-filter-btn {
    display: block;
  }
}
